@model CNPM_ktxUtc2Store.Areas.Admin.dto.dask
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Saler/Views/Shared/_Layout.cshtml";
}
<div>

    
    
    <div class="all">
        <hr />
        <div class="all-panel-1" >
            <div class="statt-panel" style="background-color: #96D6FF">
                <div class="statt-img">
                    <i class="far fa-user-circle"></i>
                </div>
                <div class="statt-details">
                    
                    <div class="statt-details-1">
                        <h5>@Html.DisplayFor(model => model.sonhanvien)</h5>
                    </div>
                    <div class="statt-details-1">
                        Nhân Viên
                    </div>
                </div>
            </div>
            <div class="statt-panel" style="background-color: #FFFFA9; ">
                <div class="statt-img">
                    <i class="fas fa-users"></i>
                </div>
                <div class="statt-details">
                    
                    <div class="statt-details-1" >
                        <h5>@Html.DisplayFor(model => model.songuoidung)</h5>
                    </div>
                    <div class="statt-details-1">
                        Người Dùng
                    </div>
                </div>
            </div>
            <div class="statt-panel" style="background-color: #0063EC; color: white;">
                <div class="statt-img">
                    <i class="far fa-calendar-check"></i>
                </div>
                <div class="statt-details">
                    <div class="statt-details-1">
                        Tình Trạng Đơn
                    </div>
                    <div class="statt-details-2">
                       <div>
                            <span>Đang Chờ Duyệt: </span>@Html.DisplayFor(model => model.donchoduyet)<span></span>
                       </div>
                       <div>
                            <span>Đã Thành Công: </span> <span>@Html.DisplayFor(model => model.thanhcong)</span>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h4 style="text-align: center;">DOANH THU</h4>
        <hr />
        <div class="all-panel-2">
            <div class="statt-panel" style="background-color: #68D69D; color: #401D83;">
                <div class="statt-img">
                    <i class="fas fa-cart-arrow-down"></i>
                </div>
                <div class="statt-details">
                    <div class="statt-details-1">
                        Tổng Hàng Đã Nhập
                    </div>
                    <div class="statt-details-2">
                        <h5 style="font-size: 1.5em;">@Html.DisplayFor(model => model.tongnhaphang)</h5>
                    </div>
                </div>
            </div>
            <div class="statt-panel" style="background-color: #FFD154; color: #002795;">
                <div class="statt-img">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="statt-details">
                    <div class="statt-details-1">
                        Tổng Doanh Số Thu Được
                    </div>
                    <div class="statt-details-2">
                        <h5 style="font-size: 1.5em;" >@Html.DisplayFor(model => model.tongdoanhso)</h5>
                    </div>
                </div>
            </div>            
        </div>
        <div class="all-panel-3">
                <div class="statt-panel" style="background-color: #FFD154; color: #002795;">
                    <div class="statt-img">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="statt-details">
                        <div class="statt-details-1">
                            Doanh Thu Hôm Nay
                        </div>
                        <div class="statt-details-2">
                            <h5 style="font-size: 1.5em;">@Html.DisplayFor(model => model.doanhthungay)</h5>
                        </div>
                    </div>
                </div>
            
            <div>
                <div class="statt-panel" style="background-color: #FFD154; color: #002795;">
                    <div class="statt-img">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="statt-details">
                        <div class="statt-details-1">
                            Doanh Thu Trong Tháng
                        </div>
                        <div class="statt-details-2">
                            <h5 style="font-size: 1.5em;">@Html.DisplayFor(model => model.doanhthuthang)</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="statt-panel" style="background-color: #FFD154; color: #002795;">
                    <div class="statt-img">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="statt-details">
                        <div class="statt-details-1">
                            Doanh Thu TRong Năm
                        </div>
                        <div class="statt-details-2">
                            <h5 style="font-size: 1.5em;">@Html.DisplayFor(model => model.doanhthunam)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
