@model cartToOrder

@{
    
}
<div class="container-web">
    @if (Model != null )
    {   
       
    <div class ="order-complete">
        
        <div class="order-complete-left">
                <div class="order-complete-address">
                     <form asp-area="" asp-controller="UserOrder" asp-action="Userorder">
                    <div class="address-detail">
                        <div class="address-detail-head">
                                <h4>Thông tin người nhận</h4>
                                <a id="open-more-address" onclick="OpenMore()">Thay đổi địa chỉ</a>
                        </div>
                        <div class="address-detail-tail">
                                @await Component.InvokeAsync("Adress")
                                
                        </div> 
                            
                    </div>
                    </form>
                </div>
                <form asp-area="" asp-controller="UserOrder" asp-action="Userorder">
                <div class="order-complete-detail">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Tên sản phẩm</th>
                            <th>Phân loại</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Tổng tiền</th>
                        </tr>
                        @foreach (var result in Model.shoppingCarts.cartDetails)
                        {
                             <tr>
                                    <td>
                                        <label>
                                           
                                        <input asp-for="Id" type="radio"
                                                   value="@result.Id" onclick="orderchange(@(result.unitPrice * result.quantity), shipchange)" />
                                        </label>
                                    </td>
                                <td>@result.product.productName</td>
                                    <td>
                                    <span>@result.size</span>
                                    <span>@result.color</span>
                                    </td>
                                <td>@result.quantity</td>
                                <td>@result.product.price</td>
                                <td>@(result.unitPrice * result.quantity)</td>
                                </tr>   
                        }
                    </table>
                </div>
                    <button class="wrap-btn m-color-full" type="submit">Đặt hàng</button>
                </form>
        </div>
        <div class="order-complete-right">
                <div class="order-complete-product">
                    <div class="order-complete-payment">
                        <h3>Phương Thức Thanh Toán</h3>
                        <div class="chose-payment">
                            <div class="chosen-payment">
                                    <i class="fa fa-money"></i>
                                    <span>Thanh Toán Khi Nhận Hàng</span>
                            </div>
                               
                        </div>
                    </div>
                        <hr>
                        <hr>
                    <div class="order-chose-ship">
                            <h3>Giao Hàng</h3>
                            <div class="chosen-ship">
                                <div>
                                    <input type="radio" onclick="shipchange()">
                                </div>
                                <div class="chosen-ship-detail">
                                    <a>Tiêu chuẩn</a>
                                    <a id="ship-price">20000.000000</a>
                                    <div>
                                        <a>Dự kiến nhận: </a>
                                        <a>Na/Na</a>
                                    </div>

                                </div>
                            </div>
                    </div>
                        <hr>
                        <hr>
                    <div class="order-complete-end">
                        <h3>Thông tin đơn hàng</h3>
                        <div class="order-conplete-end-ship"></div>
                        <div class="end-details">
                            <div class="item-all-price">
                                <a>Tổng tiền sản phẩm: </a>
                                <a id="pay-item-price">00.000000</a>
                            </div>
                            <div class="item-ship-price">
                                <a>Phí vận chuyển: </a>
                                <a id="pay-ship">00.000000 </a>
                            </div>
                            <div class="item-discount-price">
                                <a>Tổng giảm: </a>
                                <a id="pay-dícount">00.000000</a>
                            </div>
                            <hr>
                            <div class="item-end">
                                <a>Tổng thanh toán: </a>
                                <a id="pay-all">00.000000</a>
                            </div>
                        </div>
                    </div>
                   
                </div>
        </div>
            <div class="more-address">
                
                    <div class="more-address-head">
                        <h4> Địa chỉ</h4>
                    <a asp-controller="Adresses" asp-action="Create">Thêm địa chỉ mới</a>
                    </div>
                    <div class="more-address-list">
                        <form asp-area="" asp-controller="Adresses" asp-action="Index">
                            <a>@await Component.InvokeAsync("ListAdress")</a>
                            <button class="btn btn-primary" type="submit">Chọn</button>
                        </form>
                    </div>
                
               
                  
            </div>
    </div>
          
    }
    
</div>

<script>
    function shipchange() {
        var newship = document.getElementById('pay-ship');
        var getship = document.getElementById('ship-price');
        newship.textContent = parseFloat(getship.textContent);
        callback();
    }
    function orderchange(allitemprice, shipchange){
        var discount = document.getElementById('pay-discount');
        var ship = document.getElementById('pay-ship');
        var price = document.getElementById('pay-item-price');
        price.textContent = allitemprice;
        var show = document.getElementById('pay-all');
        var all = parseFloat(price.textContent) + parseFloat(ship.textContent);
        show.textContent = all;
        
        var fprice = parseFloat(price.textContent);
        var fship = parseFloat(ship.textContent);
        var fdiscount = parseFloat(discount.textContent);
    }
    function openModal() {
        document.getElementById('overlay').style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('overlay').style.display = 'none';
    }
    function OpenMore(){
       
        var elm = document.querySelector('.more-address');
        elm.style.visibility = 'visible';
        elm.style.opacity = '1';
        elm.style.right = '10%';
    } 
</script>


