@model CNPM_ktxUtc2Store.Areas.Admin.dto.duyetDon


    <div class="order-all">
        <div style="display: grid; justify-content: space-evenly; grid-template-columns: 100%;">
            <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
                <div class="admin-ordersawait order-head-color">
                    <div class="admin-order-select"></div>
                    <div class="admin-order-user"><h6>Người mua</h6></div>
                    <div class="admin-order-product"><h6>Sản phẩm</h6></div>
                    <div class="admin-order-size"><h6>Thể loại</h6></div>

                    <div class="admin-order-sl"><h6>Số lượng</h6></div>
                    <div class="admin-order-price"><h6>Thành tiền</h6></div>
                    <div class="admin-order-address"><h6>Địa điểm</h6></div>
                    <div class="admin-order-date"><h6>Ngày đặt hàng</h6></div>
                    <div class="admin-order-option"><h6></h6></div>
                </div>
                <form asp-area="Admin" asp-controller="orders" asp-action="Index">


                    @if (Model.orderList.Count == 0)
                    {
                        <h1 style="align-content: center;">TRỐNG</h1>
                    }
                    @foreach (var item in Model.orderList)
                    {

                    <div class="admin-ordersawait">
                            <div class="admin-order-select">
                                <label>
                                    <input asp-for="Id" type="radio" value="@item.Id" />
                                </label>
                            </div>
                            <div class="admin-order-user">
                                <h6>@item.applicationUser.fullname</h6>
                                <h6>@item.applicationUser.PhoneNumber</h6>
                            </div>

                            @foreach (var i in item.orderDetails)
                            {
                                <div class="admin-order-product"><h6>@i.product.productName</h6></div>
                                <div class="admin-order-size">
                                    <h6>@i.size</h6>
                                    <h6>@i.color</h6>
                                </div>

                                <div class="admin-order-sl">  <h6>@i.quantity</h6></div>
                                <div class="admin-order-price">   <h6>@(i.unitPrice * i.quantity)</h6></div>
                                <div class="admin-order-address">   <h6> @i.addressuer</h6></div>
                                <div class="admin-order-date">  <h6>@item.createDate</h6> </div>
                                <div class="admin-order-option">
                                    @if (item.IsDelete == false && item.IsComplete == false)
                                    {
                                        <button style="padding:0 40%; background:#F8F8F8" type="submit">Duyệt </button>
                                    }
                                    @if (item.IsDelete == true && item.IsComplete == false)
                                    {
                                        <button style="padding:0 40%;background:#F8F8F8" type="submit">Đã giao</button>
                                    }

                                </div>
                            }
                        </div>
                    }
                </form>
            </div>
        </div>

    </div>

