@model IEnumerable<CNPM_ktxUtc2Store.Models.InforStorage>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Saler/Views/Shared/_Layout.cshtml";

}

@foreach (var item in Model) {
    <div>
        <h4>Thông tin cửa hàng</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
              Tên cửa hàng
            </dt>
            <dd class="col-sm-10">
             @item.namestorage
            </dd>

            <dt class="col-sm-2">
              Số điện thoại
            </dt>
            <dd class="col-sm-10">
                @item.phonenumbershop
            </dd>
            <dt class="col-sm-2">
             Email
            </dt>
            <dd class="col-sm-10">
                @item.emailwork
            </dd>
            <dt class="col-sm-2">
               CSKH
            </dt>
            <dd class="col-sm-10">
                @item.emailcskh
            </dd>
            <dt class="col-sm-2">
                Thời gian hoạt động
            </dt>
            <dd class="col-sm-10">
                @item.timework
            </dd>
            <dt class="col-sm-2">
            Facbook
            </dt>
            <dd class="col-sm-10">
             @item.linkfacbook
            </dd>
            <dt class="col-sm-2">
                Instagram
            </dt>
            <dd class="col-sm-10">
              @item.linkInstagram
            </dd>
            <dt class="col-sm-2">
              Youtobe
            </dt>
            <dd class="col-sm-10">
              @item.linkfacbook
            </dd>
            <dt class="col-sm-2">
             Tiktok
            </dt>
            <dd class="col-sm-10">
              @item.linktiktok
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@item?.Id"><button class="wrap-btn change">Chỉnh sửa thông tin</button> </a>
        
    </div>
}
   
