@model  CNPM_ktxUtc2Store.Dto.productvariatonOrderView
@{
    // Since Product isn't a string, it requires a cast.
    // var product = ViewData["Product"] as product;
}
<div class="container-web">
    <div class="detail-card-wrapper">
        <div class="card">
            <!--card trái-->

            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="/images/@Model.product.imageUrl" alt="Tshirt image">

                    </div>
                </div>
            </div>

            <!--card phải-->
            <div class="product-content">
                <h2 class="product-title">@Model.product.productName</h2>
                <a href="#" class="product-link">visit shop</a>

                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.5(3700)</span>
                </div>
                <div class="product-price">
                    <p class="last-price">Giá cũ: <span>@Model.product.price</span></p>
                    <p class="new-price">Giá hiện tại: <span>@Model.product.price</span></p>
                </div>

                <div class="product-detail">
                    <form asp-area="" asp-controller="Home" asp-action="Details">
                        <div class="box-detail">
                            <p class="title">Kích thước: </p>
                            <div class="item-detail">
                                @foreach (var item in Model.product.ProductVariations)
                                {
                                    @if (item.variation.name == "size")
                                    {
                                        <div class="item-btn">
                                            <input asp-for="size" id="@item.variation.value" type="radio" class="variation-size" name="size" value="@item.variation.value">
                                            <label for="@item.variation.value">@item.variation.value</label>
                                        </div>


                                    }
                                }
                            </div>
                            
                        </div>
                        <div class="box-detail">
                            <p class="title">Màu sắc: </p>
                            <div class="item-detail">
                                @foreach (var item in Model.product.ProductVariations)
                                {
                                    @if (item.variation.name == "color")
                                    {
                                        <div class="item-btn">
                                            <input asp-for="color" id="@item.variation.value" type="radio" class="variation-color" name="color" value="@item.variation.value">
                                            <label for="@item.variation.value">@item.variation.value</label>
                                        </div>
                                        

                                    }
                                }
                            </div>
                           
                        </div>
                        <div class="box-detail amount">
                            <input asp-for="quantity" type="number" min="0" max="@Model.product.qty_inStock" value="1">
                            <h6>@Model.product.qty_inStock sản phẩm có sẵn</h6>
                        </div>
                        <div class="get-product">
                            <button type="button" onclick="AddItem(@Model.product.Id)" class="wrap-btn add">
                                <i class="bi bi-cart-plus"></i> <span>Thêm vào giỏ hàng</span>
                            </button>
                            <button type="submit" class="wrap-btn buy">
                                <i class="bi bi-bag-check"></i> <span>Mua hàng</span>
                            </button>
                        </div>
                        
                    </form>

                </div>

                <div class="product-describe">
                    <h3>MÔ TẢ SẢN PHẨM</h3>
                    @Model.product.description
                </div>
                    
               
            </div>
            <div class="social-links">
                <p>Chia sẻ</p>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-messenger"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>

  @section Scripts
  {
    <script>
        async function AddItem(productId) {

            var usernameEl = document.getElementById("username");
            var svsize;
            var svcolor
            var vsize = document.getElementsByClassName('variation-size');
            for (var i = 0; i < vsize.length; i++) {
                if (vsize[i].checked) {
                    svsize = vsize[i].value;
                    break; // Dừng vòng lặp khi tìm thấy radio được chọn
                    
                }
            }
            var vcolor = document.getElementsByClassName('variation-color');

            // Duyệt qua từng radio để kiểm tra xem radio nào được chọn
            for (var i = 0; i < vcolor.length; i++) {
                if (vcolor[i].checked) {
                    // Nếu radio được chọn, lấy giá trị và lưu vào biến
                     svcolor = vcolor[i].value;
                    break; // Dừng vòng lặp khi tìm thấy radio được chọn
                }
            }
            console.log(svsize);
            console.log(svcolor);
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddItem?productId=${productId}&color=${svcolor}&size=${svsize}`);

                if (response.status == 200) {
                    var result = await response.json();
                    console.log(result);
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount"
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
    <script>

        function getRadioValue() {
         
        }
        async function dathang(productId) {

            var usernameEl = document.getElementById("username");

            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/UserOrder/dathang?productId=${productId}`);

                if (response.status == 200) {
                    var result = await response.json();
                    console.log(result);
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
 }
}